.App {
  text-align: center;
}

.newCourseButton {
  background-color: darkblue;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.tile {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin-top: 10px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 90px;
  width: 90%;
  font-size: 11px;
  margin-top: 10px;
}

.deleteButton {
  background-color: darkblue;
  color: white;
  float: right;
  padding: 5px;
}

.dropdown-item {
  display: block; 
}

.backcolors {
  background-color: rgb(5, 32, 76);
}



